a {
    font-size: 24px;
}

img {
    width: 800px;
    height: auto;
}

.title, h2 {
    font-family:'Courier New', Courier, monospace;
}
.title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

body {
    background-color: rgb(74, 113, 228);
}

h2 {
    background-color: yellow;
}
ul, ol, p {
    background-color: white;
}